body {
    background-image: url('../fundos/1331370.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "Euclid Circular B Medium", Tahoma, Verdana, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    text-align: left;
}
h2 {
    margin-top: 0;
    background: linear-gradient(to right, #ffffff, #ffffff, #eeeeee);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
}
p {
    margin-top: 20px;
}